.row {
    height: 90px;
}
.scorevalue {
    text-align: center;
    font-size: 32px;
    font-weight: 900;
    color: rgb(255,215,0);
    box-sizing: border-box;
    border: 2px solid black;
}

body {
    background-image: url('http://i.imgur.com/KCY2bWl.png');
    background-size: cover;
    color: white;
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 900;
    font-size: 16px;
    
}

.scoreboard {
    text-align: right;
    font-size: 40px;
}

.categories {
    font-size: 30px;
    text-align: center;
    box-sizing: border-box;
}

#myModal {
    color: black;
}

#question {
    font-size: 20px;
}